<!-- Logo -->
<aside id="logo" class="clearfix">
  <div class="clearfix">
    <a href="{{ root_url}}/">{{ site.title }}</a>
  </div>
</aside>

<ul id="menu">
{% if site.title %}
  <li class="title">
    <h1 id="title"><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  </li>
{% endif %}
{% if site.subtitle %}
  <li class="subtitle">
    <h2 id="subtitle">{{ site.subtitle }}</h2>
  </li>
{% endif %}

  <li class="link">
    <a href="{{ root_url }}/about">about</a>
  </li>
{% if site.twitter_user %}
  <li class="link">
    <a href="http://twitter.com/{{ site.twitter_user }}/">twitter</a>
  </li>
{% endif %}
{% if site.github_user and site.github_show_profile_link %}
  <li class="link">
    <a href="http://github.com/{{ site.github_user }}/">github</a>
  </li>
{% endif %}
  <li class="link rss">
    <a href="/atom.xml">rss feed</a>
  </li>
  <li>
    &nbsp;
  </li>

  <li>
    <span class="subtitle">
      <span class="unicode_circle">
        <h2 id="subtitle">{% include asides/mailchimp.html %}</h2>
      </span>
    </span>
    <span class="octopress"></span>
  </li>
</ul>




<aside id="octopress_linkback">
    <span class="unicode_square">
      <span class="unicode_circle">
        powered by octopress
      </span>
    </span>
    <span class="octopress"></span>
</aside>
